name: fork-sync
on:
  schedule:
    - cron: '*/15 * * * *' # Runs at 50 minutes past every hour
  workflow_dispatch:      # Allows you to run it manually with a button click

jobs:
  sync:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Forked Repository
        uses: actions/checkout@v3
        with:
          token: ${{ secrets.PERSONAL_ACCESS_TOKEN }}

      - name: Add Upstream Remote
        run: git remote add upstream https://github.com/littlebyteorg/appledb.git

      - name: Fetch Upstream Changes
        run: git fetch upstream

      - name: Merge Changes and Push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git checkout main
          git merge upstream/main --allow-unrelated-histories -X ours -m "Syncing AppleDB updates while preserving custom files"
          git push origin main
